generated/
node_modules/
.env
package-lock.json
.DS_Store
**/__pycache__/
**/GENERATED_IMAGES/

#ignore these folders
logs

#ignore any test data and underscores:
**/test*
**/_
**/chatgpt_prompt.txt
